<!doctype html>
<html lang="en">
  <head>
      <%- include("../layouts/head"); -%>
   
  </head>
  <body style="background-color:#95F0D3;">
    <%- include("../layouts/navbar"); -%>
    <div class="container mb-5">
        <div class="row justify-content-center  text-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="h1">
                        <div class="card-header"> <%= order.nombreCliente %></div>
                    </div>
                    <div class="card-body ">
                        <b>Nombre del Cliente:</b> <%= order.nombreCliente %> <br/>
                        <b>Nombre del Vendedor:</b> <%= order.nombreVendedor %> <br/>
                        <b>Direccion:</b> <%= order.direccion %> <br/>
                        <b>Productos:</b> <%= order.producto %> <br/>
                        <b>Precio Total:</b> <%= order.precio %> <br/>
                        <b>Metodo de pago:</b> <%= order.metodoPago %> <br/>
                        <b>¿Pago?:</b> <%= order.pago %> <br/>
                        <b>Fecha:</b> <%= order.fecha %> <br/>
                    </div>  
                    <div class="block mb-3">
                        <a href="/order/delete/<%=order.id %>" type="button" class="btn btn-danger"> Eliminar </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
        
    
    
    <%- include("../layouts/scripts"); -%>
  </body>
</html>