<!doctype html>
<html lang="en">
  <head>
      <%- include("../layouts/head"); -%>     
  </head>
  <body>
    <%- include("../layouts/navbar"); -%>
    <div class="container mb-5" >
        <div class="row justify-content-center  text-center">
            <div class="col-md-8">
                <div class="card ">
                    <h1>
                        <div class="card-header"> Actualizar Orden </div>
                    </h1>
                    <div class="card-body">
                        <form method="POST" class="form-group" name="create" id="create" action="/order/update/<%=order.id%>" enctype="application/x-www-form-urlencoded">
                            <div class="mb-3">
                                <label class="form-label"> Nombre del Vendedor </label>
                                <input required  class="form-control" type="text" placeholder="<%= order.nombreVendedor %>" name="nombreVendedor" value="<%= order.nombreVendedor %>">
                            </div>
                            <div class="mb-3">
                                <label class="form-label"> Nombre del Cliente</label>
                                <input required  class="form-control" type="text" placeholder="<%= order.nombreCliente %>" name="nombreCliente" value="<%= order.nombreCliente %>">
                            </div>
                            <div class="mb-3">
                                <label class="form-label"> Dirección </label>
                                <input required  class="form-control" type="text" placeholder="<%= order.direccion %>" name="direccion" value="<%= order.direccion%>">
                            </div>
                            <div class="mb-3">
                                <label class="form-label"> Producto/s </label>
                                <input required  class="form-control" type="text" placeholder="<%= order.producto %>" name="producto" value="<%= order.producto %>">
                            </div>
                            <div class="mb-3">
                                <label class="form-label"> Precio </label>
                                <input required  class="form-control" type="number" min="0" max="999999.9999" step="any" placeholder="<%= order.precio %>" name="precio" value="<%= order.precio %>">
                            </div>
                            <div class="mb-3">
                                <label class="form-label"> Metodo de Pago </label>
                                <select required class="form-select" name="metodoPago" >
                                    <% if (order.metodoPago == "efectivo"){ %>
                                        <option selected value="efectivo"> Efectivo  </option>
                                        <option value="transferencia"> Transferencia </option>  
                                        <option value="otro"> Otro </option>    
                                    <% } if (order.metodoPago == "transferencia"){ %>
                                        <option selected value="transferencia"> Transferencia </option>  
                                        <option value="efectivo"> Efectivo  </option>
                                        <option value="otro"> Otro </option>
                                    <% } if (order.metodoPago == "otro") { %>
                                        <option selected value="otro"> Otro </option>
                                        <option value="transferencia"> Transferencia </option>  
                                        <option value="efectivo"> Efectivo  </option>
                                    <% } %>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label class="form-label"> ¿Pago? </label>
                                <select required class="form-select" name="pago" >
                                    <% if (order.pago == true){ %>
                                        <option selected value=true> Si </option>
                                        <option value=false> No </option>
                                    <%} else { %>
                                        <option selected value=false> No </option>
                                        <option value=true> Si </option>
                                    <% } %>
                                </select>
                            </div>
                            <button type="submit" style=" background-color:#215746;" class="btn btn-primary my-1 btn-lg">  Actualizar </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include("../layouts/scripts"); -%>
  </body>
</html>